In [3]:
import pandas as pd
import numpy as np

In [5]:
# pd? 기능 설명
# pd._version_ 버전 설명

In [7]:
"""
Pandas Object: Series
"""

ser = pd.Series([0.25,0.5,0.75,1.0]) #contructor method
print(ser)
print(type(ser))

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [10]:
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [18]:
 #Lable - based Indexing
    
ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(ser)
ind = ser.index
print(ind)

print(ser['c'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')
0.75

In [20]:
"""
Dictionary and Series
"""

dict = {'a':1, 2:'two', 'third': True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [25]:
"""
Create a series from a dictionary
"""

ser = pd.Series(dict)
print(ser)

population_dict = {'California': 38332521, 'Texas': 26448193, "New York": 19651127, 'Florida': 19552860, 'Illinois': 12882135}

population = pd.Series(population_dict)
print(population)

print(population['Texas':'Florida'])

a           1
2         two
third    True
dtype: object
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [28]:
"""
Pandas object: DataFrame
"""
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [34]:
states = pd.DataFrame({'population': population, 'area': area})

print(states)
print(states.index)
print(states.columns)
print(states['area'])

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [37]:
arr = np.random.rand(3,2)
print(arr)

pd.DataFrame(arr,columns=['foo', 'bar'], index=['a','b','c'])

[[0.59197011 0.25237917]
 [0.12525253 0.56785302]
 [0.17857027 0.22758949]]

        foo       bar
a  0.591970  0.252379
b  0.125253  0.567853
c  0.178570  0.227589

In [42]:
ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])

print(ser['b'])
print('a' in ser)
print(0.25 in ser)#key를 확인하기 때문에 값은 안 된다

print(ser.keys())
print(ser.index)

0.5
True
False
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [46]:
ser['e'] = 1.25
ser['a'] = 0.125

print(ser,'\n')

print(ser['a':'c'],'\n')

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

a    0.125
b    0.500
c    0.750
dtype: float64

In [49]:
states['density'] = states['population'] /states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [54]:
print(states)

states.loc['New York': 'Illinois'] #값을 바꾸면 원본도 달라진다.

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121
Illinois    12882135  149995   85.883763